<html>
    <head>
      <link rel="stylesheet" href="../static/spec.css" tyle="text/css">
    </head>
    <body>

        <h1>
        그들과 우리

        </h1>
  <section>
    <p>강서구의 특수학교 찬반 논란이 계속되고 있다. 김상조 교육감은 앞으로 서울 시내에 3개 정도의 특수학교를 더 세운다고 했으나 각 지역에서 반대에 부딪혀 특수학교 건립은 난항을 걷고 있다.
</p>
<img src = "{{url_for('static',filename='comma.png')}}"/>
<p id="title1">"그들"을 "우리" 지역에 받을 수 없다</p>

<div id = "container">
<div id = "left">
<h2>학교엔 어떻게 갈까</h2>
  <p >
몸이 불편한 학생들은 주로 국가에서 지원하는 통학버스와 자가용을 이용한다. 그와 비슷한 또래 학생들은 주로 걸어서 학교를 간다. 장애인 학생들이 보통 집 근처의 학교를 배정받는 일은 드물다. 특히나 특수학교에 다니는 학생들은 더욱 그렇다. 몸이 불편한 학생들이 1시간 동안이나 통학을 하며 그 과정에는 항상 위험이 따른다.
</p> </div>
<div id = "right">
<img id="graph"src = "{{url_for('static',filename='graph.png')}}"/></div>
</div>
  </section>



    </body>
</html>
